@import url("normalize.css");
@import url("colores.css");
@import url("fuentes.css");
@import url("animaciones.css");

/* Generales */
/* body{
    position: relative;
} */

article{
    margin: 0 0 0.6em 0; /* arriba derecha abajo izquierda */
}

section{
    padding: 0.6em;
    /* display: none; */
}

/*
section:target{
    display: block;
}
*/

a{
    cursor: pointer;
    text-decoration: none;
}

p,ul{
    margin: 0 0 0.2em 0; /* arriba derecha abajo izquierda */
    
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    line-height: 1em;
    text-decoration: underline;
}



/* Específicos */

/******************** */
/* cabecera-principal */
/******************** */
header#cabecera-principal {
    padding: 1em 0;
}
img#foto-cv-1 {
    display: block;
    border-radius: 0.6em;
    height: 20em;
    margin: 0 auto;
}

/*************************** */
/* menu-navegacion-principal */
/*************************** */
nav#menu-navegacion-principal{
    position: sticky;
    top: 0;
}

nav#menu-navegacion-principal ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav#menu-navegacion-principal li{
    display: inline-block;
    padding: 0.6em;
}
nav#menu-navegacion-principal a{
    text-decoration: none;
}

/* cuerpo-principal */

/***************** */
/*seccion-sobre-mi */
/***************** */

/****************************** */
/* sub-seccion-datos-personales */
/****************************** */

/*********************** */
/* sub-seccion-aptitudes */
/*********************** */

/*********************** */
/* sub-seccion-intereses */
/*********************** */


/********************* */
/* sub-seccion-hobbies */
/********************* */


/********************** */
/* sub-seccion-contacto */
/********************** */



/*********************** */
/* seccion-mis-proyectos */
/*********************** */



/***************************** */
/* seccion-experiencia-laboral */
/***************************** */



/*********************** */
/* seccion-conocimientos */
/*********************** */



/***************** */
/* seccion-idiomas */
/***************** */



/****************** */
/* seccion-estudios */
/****************** */